.auth-container {
    background: url('../../../buy-sell-stocks-md.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.sign-in {
    background: white;
    border: 1px solid #ccc;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 10px;
    grid-row: 1;
    margin-left: 10vw;
    /* display: flex; */
    /* position: fixed; */
    /* justify-content: space-around; */
    
  }

  .sign-up {
    background: white;
    border: 1px solid #ccc;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 10px;
    grid-row: 1;
    margin-left: 5vw;
    margin-right: 8vw;
    /* display: flex; */
    /* position: fixed; */
    /* justify-content: space-around; */
    
  }
  
  
  .sign-in:hover {
    transform: scale(1.05);
  }

  .sign-up:hover {
    transform: scale(1.05);
  }

  .sign-up {
    grid-column: 3/5;
  }


  .sign-in {
    grid-column: 1/3;
  }

  .login-signup {
    /* background-color: #333; */
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(6, ifr);
    text-align: center;
    align-items: center;
  }

  .error-msg {
    color: red;
  }

  .title {
    display: flex;
    justify-content: space-around;
    font-size: 10vw;
    font-weight: bolder;
    color: yellowgreen;
    /* background-color: #333 */
  }

  .subtitle {
    display: flex;
    justify-content: center;
    color: ivory;
    font-size: 5vw;
    font-weight: bolder;
  }

  .login-title {
    font-weight: bolder;
    font-size: 20px;
    display: flex;
  }
