  .stock-performance {
    display: flex;
    align-items: center;
    color: white;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  }

  .profit {
    background-color: green;
  }

  .loss {
    background-color: red;
  }

  .no-profit-no-loss {
    background-color: yellow;
  }