.user-stock-card-container {
    width: 150px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 10px;
    /* position: fixed; */

  }
  
  .user-stock-card-container:hover {
    transform: scale(1.05);
  }