.wallet-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* .wallet-container:hover {
    transform: scale(1.05);
    cursor: pointer;
  } */

  .wallet-bln {
    color: white;
    cursor: pointer;
  }

  .balanace-btn {
    display: flex;
  }