.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.main > div {
  background-color: grey;
  text-align: center;
  /* padding: 5px; */
}

.header {
  border: 5px;
  background-color: grey;
  width: 100%;
  grid-row: 1;
  grid-column: 1/13;
  padding: 5px;
}

.stock-cards {
  border: 5px;
  background-color: grey;
  width: 100%;
  grid-row: 2/5;
  grid-column: 3/13;
  padding: 5px;
  overflow: auto;
  scrollbar-base-color:black;
}

.inside-stocks {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-row: 3/8;
  width: 100%;
  gap: 5px;
  /* padding: 5px; */
}

.inside-stocks div:nth-child(n){
  max-width: 100%;
  background-color: white;
  /* padding: 5px; */
  /* grid-column: auto; */
}
#side-chat {
  border: 5px;
  background-color: grey;
  width: 100%;
  grid-row: 2/9;
  grid-column: 1/3;
}

.user-stocks {
  border: 5px;
  background-color: grey;
  width: 100%;
  grid-row: 6/9;
  grid-column: 3/13;
  padding: 5px;
}

.inside-user-stocks {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100%;
  gap: 5px;
}

.inside-user-stocks div:nth-child(n) {
  max-width: 100%;
  background-color: white;
  padding: 20px;
}